name: Fortify AST Scan

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  Fortify-AST-Scan:
    runs-on: windows-latest
    permissions:
      actions: read
      contents: read
      security-events: write
      pull-requests: write

    steps:
      # Check out source code
      - name: Check Out Source Code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      # Java is required to run the various Fortify utilities. Ensuring proper version is installed on the runner.
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      # Perform Fortify on Demand SAST + SCA scan and import SAST results into GitHub code scanning alerts
      - name: Run FoD SAST Scan
        uses: fortify/github-action@v1
        with:
          sast-scan: true
        env:
          FOD_URL: https://ams.fortify.com
          FOD_TENANT: ${{secrets.FOD_TENANT}}
          FOD_CLIENT_ID: ${{secrets.FOD_CLIENT_ID}}
          FOD_CLIENT_SECRET: ${{secrets.FOD_CLIENT_SECRET}}
          FOD_RELEASE: ${{secrets.FOD_RELEASE_ID}}
          EXTRA_PACKAGE_OPTS: -bt msbuild -bf WebGoat.NET.sln -oss
          DO_WAIT: true
          DO_EXPORT: true
          DO_PACKAGE_DEBUG: true
